@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dfe6e9;
}
.container {
  text-align: center;
  padding-bottom: 60px;

}

input {
  margin: 4px;
  display: inline-block;
  height: 1.8rem;
  width: 20%;
  border: 1px solid rgb(228, 228, 228);
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  letter-spacing: 2px;
  background: white;
  border-radius: 4px;
  padding: 5px;
}

.wallBtns {
  margin: 4px;
  display: inline-block;
  height: 5rem;
  width: 10%;
  border: 1px solid rgb(228, 228, 228);
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  letter-spacing: 2px;
  background: rgb(212, 175, 175);
  border-radius: 4px;
  padding: 5px;
  color: white;
  font-size: 2em;
}

.brickform {
  padding-top: 10em;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  padding-top: 20px;
  font-weight: 800;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 20px;
  font-weight: 400;
}

.payment__details h1 {
  margin: auto;
  padding: 1.5rem
}

button {
  padding: 10px;
  margin: 10px;
  width: 20rem;
  height: 3rem;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 6px;
  margin-left: 1rem;
  background-color: #f39c12;
}