<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Payment</title>
</head>
<body>
<!-- personal information -->
<h1>Total Koha / Gift {{price }} </h1>
  <form><input type = "text" value="Name" Name="name"> </form> <br>
  <form><input type = "text" value="Organisation" Name="Organisation"> </form> <br>
  <form><input type = "text" value="Email" Name="Email"> </form> <br>
  <form><input type = "text" value="Comments" Name="Comments"> </form> <br>
<!-- var = PRICE Need to receive the brick or bricks and the price on the MVP or telly on the stretch-->

<!--Credit card details -->
<h1>Payment Details </h1>
<form><input type = "text" value="Name" Name="Name on Credit Card"> </form> <br>
<form><input type = "number" value="Credit Card Number"> </form> <br>
<form><input type = "number" value="CSV"> </form> <br>
<form><input type = "text" value="Expiry Date"> </form> <br>
<button>Koha / Gift</button> <br>
<!-- stretch task insert a popup comment to say thank you for your koha, nga mihi nui!! -->

</body>
</html>