<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Wall</title>
</head>
<body>
  <div class="container">
    <form class="form" action="/" method="post">
    {{#each bricks }}
      {{#each this}}
        <input type="submit" name={{id}} value="Brick"
        {{#if purchased }} style="color: blue" disabled
        
        {{else }}
        {{/if}}
        />
      {{/each }}<br>
    {{/each }}
    </form>
  </div>
</body>
</html>